#Title {
  text-align: left;
  padding-left: 10px;

}

#HRule {

  width: calc(100% -20px);
  max-width: 100%;
}


#movies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}


@media (max-width:950px) {

  #movies {

    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 10px;
    max-width: 100%;



  }

}

@media (max-width:750px) {

  #movies {

    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 5px;
    max-width: 100%;



  }

}


@media (max-width:320px) {

  #movies {

    grid-template-columns: 1fr;
    gap: 5px;
    padding: 5px;
    max-width: 100%;
  }
}



#images {

  height: 300px;
  width: 350px;
  transition: transform 0.4s ease;

}

#images:hover {

  transform: scale(1.1);

}